{% extends 'temp/admin.html' %}
{% block base %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" class="table table-striped">
    <tr style="color: black">
        <th>From Place</th>
        <th>To Place</th>
        <th>Amount</th>
    </tr>
    <tr style="color: black">
        {% for i in x %}
        <td>{{ i.from_field }}</td>
        <td>{{ i.to }}</td>
        <td>{{ i.amount }}</td>
        {% endfor %}
    </tr>


</table>

</body>
</html>
{% endblock %}